.debugPanel {
    position: absolute;
    bottom: 1.2rem;
    right: 1.2rem;
    background-color: $lt-blue;
    padding: 1.2rem;

    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            text-align: left;
            color: $dk-blue;
        }
    }

}